/*
 * search page > content 영역 최대 크기/위치 설정
 */
.wh_search_page .container-fluid {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 63px 15px 50px 15px;
}
.wh_search_container {
	padding: 0;
    border-bottom: 2px solid #000000;
    height: 77px;
    width: 100%;	
}
.wh_search_input {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.header-right-container {
	display: flex;
    align-items: center;
}
.header-right {
	padding: 0 0 0 27px;
}
#searchForm > div {
    width: auto;
}

.wh_search_textfield {
    border: 0;
    width: 0;
	margin-right: 10px;
	background-color: #ffffff;
	opacity: 1; 
	max-width:220px;
	display:none;
	transition: width 0.2s ease-in-out;
	position: absolute;
	right: 20px;
	top: -5px;
}
.wh_search_textfield.show {
    display:inline;	
}
.wh_search_textfield:focus {
    border: 1px solid #dddddd !important;
	margin-right: 10px;
	display:inline;
	border-radius: 0;	 
	background-color: #ffffff;
	width: 220px;
	
	top: -5px;
}
.wh_search_textfield.activeTextfield {
    border: 1px solid #dddddd !important;
	display:inline !important;
	margin-right: 10px;
	background-color: #ffffff;
	
}
.wh_search_button {
	background-image: url("images/icon_search.svg");
	background-repeat: no-repeat;
	background-color: transparent;
	/* background-position: center; */
	border: 0;
	position: relative;
    padding: 0 0.5em 2em 0.5em;	
	height: 24px;
    width: 24px;
    display: block;
	margin-bottom: 4px
}
.wh_search_button:after {
    content: none;
}

.searchresult li::marker{
    content: none;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse){
    #searchForm > div {
        /* width: 90%; */
        width: 100%;
    }
    .wh_search_button {
        /* display: none; */
        display: block;
		margin-bottom: 4px
    }
	.wh_search_textfield {
		  
		border: 1px solid #dddddd !important;
		width: 0;
		margin-right: 10px;
		background-color: #ffffff; 
		max-width:220px;
		transition: width 0.2s ease-in-out;
		position: absolute;
		right: 20px;
		display:none;
	}
	.wh_search_textfield:focus {
		border: 1px solid #dddddd !important;
		margin-right: 10px;
		border-radius: 0;	 
		background-color: #ffffff;
		transition: width 0.2s ease-in-out;
	}
	.wh_search_textfield.show { 
		display:inline !important; 
	}
	
	.wh_search_textfield.activeTextfield {
		border: 1px solid #dddddd !important;
		display:inline !important;
		margin-right: 10px;
		background-color: #ffffff;
	}
	.wh_search_page .container-fluid{
		padding: 0px 15px 50px 15px;
	}
}
.btn_nav img{
	width: 29px;
    height: 24px;
}
#searchForm{
	padding-top: 0.5em;
    margin: 0;
}
.scrollbar{
	overflow-y: auto;
}
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
	.scrollbar{
		-ms-overflow-style: none !important; 
		scrollbar-width: none;
	}
	.scrollbar::-webkit-scrollbar {display: none;}
}
@media (max-width: 640px){
	.pagination {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid #697278;
	}
}
.pagination {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid #697278;
}
#wh-search-pagination > ul > li.active > a{
	z-index: 0;
	background-color: #697278;
    border-color: #697278 !important;
	
}
.page-link{
	color: #697278;
	
}
#star .star{
	display: none; 
}
