.breadcrumb-sticky {
    background-color: #ffffff; 
	/* position: fixed; */
    top: 77px;
    width: 100%;
    font-weight: bold;	  
    margin: 0;
}

.breadcrumb-sticky > nav {
	/* max-width: 960px; */
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
    margin-bottom: 10px; 	
}

.wh_right_tools {
    display: none;
}

/*
 * wh_sticky.js : line 8~9 => '.wh_tools' - top 변경 시
 * 경로명이 좌측 -> center 로 변경되는게 시작적으로 보이는 현상 방지위해
 * .wh_tools => .wh_tools_cs 로 class 변경
 */
.wh_tools_cs {
    background-color: transparent;
	padding: 0;
	
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: 1 0;
    margin-bottom: 1em;
    align-items: center;	
}
.wh_breadcrumb ol {
    background-color: transparent;
    color: inherit;
    font-size: 1em;
}
.wh_breadcrumb ol .active {
    color: #697278;
}
.wh_breadcrumb li:not(:last-of-type) {
    color: #05141F;
}
.wh_breadcrumb li:not(:last-of-type):after {
    content: ">";
}

.home a:before{
	content: url(images/icon_home.svg);
	 position: relative;
	 top: 0.5em;
	 right: 0.1em;
}

.wh_breadcrumb ol .active .title a{
	text-decoration: underline; 
	color: #697278; 
	font-weight: 200;
}