/*
 * 모바일용 css
 */
/*
 *	기아 폰트 정의
 */
@font-face {
    font-family: "KiaSignatureTTF";
    font-weight: bold;
    src: url(webfonts/KiaSignatureFixBold.ttf);
}
/* Regular */
@font-face {
    font-family: "KiaSignatureTTF";
    font-weight: normal;
    src: url(webfonts/KiaSignatureFixRegular.ttf);
}
@font-face {
    font-family: "KiaSignatureTTF";
    font-weight: 200;
    src: url(webfonts/KiaSignatureFixLight.ttf);
}
html {
	font-family:  "KiaSignatureTTF", sans-serif !important;
	/* font-family:helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif; */
	font-size: 14px;
	line-height: 1;
}
body {
    line-height: 1.2;
    font-family: inherit;
}
.wh_topic_content, .wh_content_area, .wh_main_page_toc {
    line-height: inherit;
    color: #05141F;
}
.topictitle1, .topictitle1.level1 {
    font-size: 2.2em;
}
.topictitle2, .topictitle1.level2 {
    font-size: 2.2em;
}
.wh_tile_title, .main-top-message, .footer-copyright{
	font-family: inherit;
} 
.wh_main_page_toc_entry.home a{
	font-family: inherit;
}
.wh_tile_title a {
	color: #05141F;
	font-size: 0.98em;
}
.sectiontitle, .wh_child_links:before {
	font-size: 1.43em;
}
/*contains Topics 하단  */
.wh_child_links li > div {
	border-bottom: 1px solid #CDD0D2;
	padding-top: 6px;
    padding-bottom: 6px;	
    font-size: 1em;
}