/*
 * display: flex; WH-2759 Pushes footer at the bottom of the page.
 * display: block; 으로 변경 => main page tile 넓이 조정
 */
 /*content와 footer 간격  */ 
body {
	display:flex;
    min-height: 100%;
} 
/*
 * 화면 줄어들 경우 header, breadcrumb 영역 padding 조정
 */
@media screen and (max-width: 1920px) {
	.wh_search_input, .breadcrumb-sticky > nav {
	    padding-left: 15px;
	    padding-right: 15px;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #aaa; 
 
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/*
 * Hide the figure numbers, not useful in the context of a small topic.
 */ 
 
 @media screen {
 	.fig--title-label,
	.fig--title-label-number,
 	.fig--title-label-punctuation {
 		display:none;
 	}
 	
 	.fig--title-label:after {
 		content:"";
 	}
 }
.wh_footer {
 /*  display:none; */
}
a[class = "btn_nav"] {
	cursor: pointer;
}




