@media screen and (max-width: 640px) {
    .wh_tile{
     	min-width: 340px;
    }
}
@media screen and (max-width: 1024px) {
    .wh_main_page .wh_content_flex_container{
        width: 95%;
    }
}
.wh_tiles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;
    flex-wrap: wrap;
}

.wh_tile {
    border-radius: 0;
    
    height: 65px;
    /*display: table;*/
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 1%;
	min-width: 340px;
	min-height: 65px;
	border: 2px solid #cccccc;
	background-color: #fff;
	display: flex;
    align-items: center;
	
}
.wh_header {
    /* display: none; */
    padding: 0;
    border-top: 7px solid #3b3b3b;
    height: 57px;
    width: 100%;
    box-shadow: -12px 5px 20px #00000017;
    margin-bottom: 20px;
}
.wh_search_input {
    width: 99%;
    max-width: 1024px;
    margin: 0 auto 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
/*메인 페이지 아이콘 크기   */
.wh_tile_image{
	float: left;
	padding-bottom: inherit
}

.wh_tile_image img {
	width: 27px;
    height: 27px;
}
.wh_tile_text {
	padding-top: 5px;
    padding-left: 15px;
}
/*
 * main page > content 영역 최대 크기/위치 설정
 */
.wh_main_page{
	background-color: #F1F1F1;
} 
.wh_main_page .wh_content_area {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.wh_main_page .wh_content_flex_container{
	padding: 0;
}
/*메인 타이틀 */
.wh_tile:hover{
	background-color: #9BA1A5;
	cursor: pointer;
}
.wh_tile:hover a{
    color: #FFFFFF
} 
/* .wh_tile:hover img{
	-webkit-filter: invert(100%);
	filter: invert(100%);
}  */
.main-top-message {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10em;
    max-width: 1024px;
    min-width: 350px;
    width: 100%;
}

/* 홈화면 breadcrumb 숨기기 */
.wh_main_page .breadcrumb-sticky{
	display: none;
}
.wh_tile_title > span > a {
    text-align: left;
}


