/*
 * topic page > content 영역 최대 크기/위치 설정
 */
 /* 하단 페딩 추가 */
.wh_topic_page .wh_content_area {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}
.wh_topic_page .container-fluid {
	max-width: inherit;
	padding-left: 0;
	padding-right: 0;
	padding: 5px;
	transition: left 0.4s ease-in-out;
	position: relative;
	left: 0;
}

.wh_navigation_links {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
}
.wh_navigation_links .navheader {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Align buttons to left and right */
  margin: 0 16px 0 16px;  
}

.wh_navigation_links .navheader span {
  width: 52px;
  height: 52px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  line-height: 50px;
  display: none;
}

.wh_navigation_links .navprev {
  margin-right: auto; /* Align to left */
  background-image: url('images/swipe_left.png');
  background-repeat: no-repeat;
  background-position: center;
}

.wh_navigation_links .navnext {
  margin-left: auto; /* Align to right */
  background-image: url('images/swipe_right.png');
  background-repeat: no-repeat;
  background-position: center;
}

.wh_navigation_links a:before {
  content: " ";
  width: 100%;
  height: 100%;
  display: inline-block;
}

.wh_related_links, .wh_child_links, .wh_topic_content .related-links {
    background-color: #fff;
    /*padding: 1.5em;*/
	padding: 1.5em 0 1.5em 0;
    margin-top: 1.5em;
}

.wh_child_links {
	line-height: 1.4;
	display: none;
}
.wh_child_links:before {
	width: 100%;
	display: inline-block;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding-top: 6px;
    padding-bottom: 6px;
}
.wh_child_links li .wh-expand-btn, 
.wh_child_links li .wh-tooltip {
	display: none !important;	
}
.wh_child_links li > div {
	border-bottom: 1px solid black;
	padding-top: 6px;
    padding-bottom: 6px;	
}
.related-links a {
	padding-left: 0.75em;
}
.related-links a, .related-links a:visited {
    color: #a36b4f;
    padding-bottom: .3em;
}
/*
 * 최하위 topic - 페이지 이동을 위한 원모양 아이콘 표시
 */
#wh_publication_toc, #wh_close_publication_toc_button {
	display: none !important;
}
.csh_naviation_links {
    width: calc(100% - 250px);
    background-color: #fff;
    height: 30px;
    text-align: center;
    width: 100%;
	position: fixed;
	bottom: 0;
	display: none;
}
.csh_naviation_links > div {
    margin-top: 8px;
}
.csh_naviation_links .page-marker {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #777;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
}
.csh_naviation_links .page-marker.active {
    background-color: #A50034;
}

.table {
	width: 100%;
}
table > caption {
	padding-left: 0;
    white-space: normal;
}
table .desc {
    font-style: normal;
	font-size: 0.9em;
}
.table > thead > tr > th {
	vertical-align: middle;
	background: #c30034;
	color: #fff;
}
.table > thead > tr > th,
.table > colgroup + thead > tr:first-child > th,
.table > tbody > tr > td {
	border: 2px solid #bdbdbd;
	border-color: #bdbdbd;
	padding: 0.5em;
}
p[class ~= "topic/p"][importance="default"]:before {
	content: "* ";
	vertical-align: text-top;
}
p[class ~= "topic/p"][importance="high"] {
	font-weight: bold;
}
dl, ol, ul {
    padding: 0 0 0 16px;
}
ul[class ~= "topic/ul"], ol[class ~= "topic/ol"] {
	margin-bottom: 0;
}
.p {
    margin: .57em 0 .57em 0;
}
.wh_expand_btn {
    display: none;
}

/* 
 * 폰트크기 버튼
 */
.fontChangeDiv{
	display: none;
}

.fontChangeDiv .fontChangeButton{
    width: 30px;
    text-align: center;
    padding: 0;
}

@media screen and (max-width: 640px){
	.fontChangeDiv {
		display: block;
		text-align: right;
		padding-left: 15px;
     	padding-right: 15px;
	}
}

.fontChangeDiv .fontChangeButtonMinus, .fontChangeButtonPlus{
	width: 30px;
	height: 24px;
    text-align: center;
    padding: 0;
	border: 1px solid ;
	border-radius: 3px;
	color: black;
}
/* 폰트 버튼 사이즈 */
.sizeClass1 {
	font-size: 11px;
}
.sizeClass2 {
	font-size: 14px;
}
.sizeClass3 {
	font-size: 17px;
}
.sizeClass4 {
	font-size: 20px;
}
.sizeClass5{
	font-size: 23px; 
}
/* note, caution, warning 기호 변경  */
div.note {
	border-bottom: 1px solid #000000;
	margin-top: 40px;
	padding: 0.75em 0.5em 0 0;
}

div.note_note {
	background-image: url(images/M-note.png);
	background-size: 35px;
	
} 
div.note_caution {
	background-image: url(images/M-caution.png);
	background-size: 35px;
	
}

div.note_warning {
	background-image: url(images/M-warning.png);
	background-size: 35px;
	
}

div.note > span.note__title{
	flex-shrink: 0;
    font-size: 1.3em;
    /*margin-left: 10px;*/
    margin-right: 10px;
    line-height: 2em;
    height: 2em;
    font-weight: bold;
	padding-left: 3em;
}
div.note > div.note__content {
	border-top: 1px solid #000000; 
}
/* topic_content 최상단 제목 */
.topictitle3 {
	margin: 0.5em 0 0.5em 0;
    font-size: 2em;
    border-left: none;
    color: #000000;
    padding-left: 0;
    font-weight: bold;
}
/* topic_content 소목차 간격 */
.sectiontitle {
	margin: 0.5em 0 0.5em 0;
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0 !important;
}
/*
 OL counter for callout_continue
*/
div.wh_content_area {
  counter-reset: callout-counter;
}

/*들여쓰기 수정*/
ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 8px;
}
ol.callout_continue {
	list-style: none;
	counter-reset: none;
}

ol.callout li, ol.callout_continue li {
	counter-increment: callout-counter;
}
@supports (-webkit-touch-callout: none) {
	ol.callout_continue li:before {
	  content: counter(callout-counter) ". ";
	  position: absolute;
	  width: 1.5em;
	  left: 0;
	  text-align: right;
	}
	ol.callout_continue {
		/*padding-left: 1.14em;*/
	}	
}

@supports not (-webkit-touch-callout: none) {
	ol.callout_continue li::marker {
	  content: counter(callout-counter) ". ";
	}
}
/*
 * override "링크" style
 */
a, a:hover, a:visited {
    color: #000;
}

/*abbreviation 들여쓰기 수정  */
.dl {
	padding: 0;
}
.figgroup {
	text-align: center;
}

/*
 * Image 아래 파일명 표시
 */
div.imagecenter {
	display: flex;
	flex-direction: column;
    align-items: center;
}
img.imagecenter {
	margin-bottom: 0;
}
*[class ~= "topic/imagename"] {
    background-color: #656565;
	color: #fff;
	margin: auto;
	/*
	margin-top: -2px;
	padding-bottom: 2px;
	*/
	font-size: 0.6em;
	max-width: 100%;
}

/* wh_topic_page 네비게이션 버튼 애니매이션효과 */
.wh_topic_page .container-fluid.rightClass{
	left: -3500px;
} 

.wh_topic_page .container-fluid.leftClass{
	left: +3500px;
} 


