.wh_header {
	padding: 0;
    border-top: 7px solid #697278;
    min-height: 77px;
    width: 100%;    
    box-shadow: -12px 5px 20px #00000017;
    margin-bottom: 20px;
}
.wh_footer {
    position: fixed;
	bottom: 0;
    width: 100%;
    padding: 0px; 
	width: 100%;
	background-color: #697278;
	
}

.footer-container{
	width: 100%;
	max-width: 1024px;
	padding: 0 15px 0 15px;
	display: flex;
    align-items: center;
	height: 40px;
	
}
.footer-copyright {
	text-align: left;
	color: #FFFFFF;	
}
html, body{
height: 100%;
overflow:hidden;
}
html{  
visibility: hidden;
} 
.header-left{
	    line-height: 1;
}



