/*
 * search page > content 영역 최대 크기/위치 설정
 */
.wh_search_page .container-fluid {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 63px 15px 50px 15px;
}
.wh_search_container {
	padding: 0;
    border-bottom: 2px solid #000000;
    height: 77px;
    width: 100%;	
}
.wh_search_input {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.header-right-container {
	display: flex;
    align-items: center;
}
.header-right {
	padding: 0 0 0 27px;
}
#searchForm > div {
    width: auto;
}

.wh_search_textfield {
    border: 0;
    width: 0;
	transition: width 0.2s ease-in-out;
	margin-right: 10px;
}
.wh_search_textfield.activeTextfield {
    border: 1px solid #dddddd;
    border-radius: 0;	
    width: 220px;
}
.wh_search_button {
	background-image: url("images/icon_search.svg");
	background-repeat: no-repeat;
	background-color: transparent;
	/* background-position: center; */
	border: 0;
	position: relative;
    padding: 0 0.5em 2em 0.5em;	
	height: 24px;
    width: 24px;
}
.wh_search_button:after {
    content: none;
}

.searchresult li::marker{
    content: none;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse){
    #searchForm > div {
        /* width: 90%; */
        width: 100%;
    }
    .wh_search_button {
        /* display: none; */
        display: inline-block;
    }
	.wh_search_textfield.activeTextfield {
	    border: 1px solid #dddddd;
	    border-radius: 0;	
	    width: 170px;
	}
}
.btn_nav img{
	width: 29px;
    height: 24px;
}
#searchForm{
	padding-top: 0.5em;
    margin: 0;
}
