/*
 * 기아 폰트 정의
 */
@font-face {
    font-family: "KiaSignatureOTF";
    font-weight: bold;
    src: url(fonts/KiaSignatureOTFBold.otf);
}

@font-face {
    font-family: "KiaSignatureOTF";
    font-weight: normal;
    src: url(fonts/KiaSignatureOTFLight.otf);
}

@font-face {
    font-family: "KiaSignatureOTF";
    font-weight: 200;
    src: url(fonts/KiaSignatureOTFRegular.otf);
}
/*
 * To change the font for the entire publication, not just an element
 */
html {
	/* font-family:  "KiaSignatureOTF", sans-serif !important; */ 
	font-family:helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
	font-size: 14px;
	line-height: 1;
}
body {
    line-height: 1.2;
}
.wh_topic_content, .wh_content_area {
    line-height: inherit;
}
.topictitle1, .topictitle2, .topictitle3, .topictitle4, .topictitle5, .topictitle6, .topictitle7 {
    margin: 0.5em 0 0.5em 0;
    font-weight: bold;	
}
.topictitle1, .topictitle1.level1 {
    font-size: 2.5em;
}
.topictitle2, .topictitle1.level2 {
    font-size: 2em;
}
.topictitle3, .topictitle1.level3 {
    font-size: 1.5em;
    padding-bottom: 5px;
}
.topictitle4, .topictitle1.level4,
.topictitle5, .topictitle1.level5,
.topictitle6, .topictitle1.level6,
.topictitle7, .topictitle1.level7 {
    font-size: 1.2em;
    padding-bottom: 5px;
	border-bottom: 1px solid #000000;
}






