.wh_main_page_toc {
    position: fixed;
    left: -3500px;
    top: 0px;
    width: 350px;
	height: 100vh;
    margin: 0 auto 2em;
    z-index: 1002;
	transition: left 0.2s ease-in-out; /* Set the transition effect */
}
.wh_main_page_toc.show {
	left: 0; /* Show the menu div by moving it to the left */
}

.close_bt_div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

/*
 * table of contents > 메뉴 펼치기 아이콘 => before -> after 로 변경
 */
.wh_main_page_toc .wh_main_page_toc_accordion_header.expanded:after,
.wh_main_page_toc .wh_main_page_toc_accordion_header:after{
    display: inline-block;
    font-weight: bold;
    font-family:"oXygen WebHelp", serif;
    position: absolute;
    right: 1em;
    cursor: pointer;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:after{
    content: "q"; /* expand symbol */
}
.wh_main_page_toc .wh_main_page_toc_accordion_header.expanded:after{
    content: "p"; /* collapse symbol */
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:before,
.wh_main_page_toc .wh_main_page_toc_accordion_header.expanded:before
{
    content: none; /* expand symbol */
}

.wh_main_page_toc > .wh_main_page_toc_accordion_header, .wh_main_page_toc > .wh_main_page_toc_entry {
    padding-left: 1em;
	/*
	padding: 0.5em;
    margin: 0;
	*/
}

.wh_main_page_toc a {
    color: #000;
    font-size: 0.95em;
}

.wh_main_page_toc>.wh_main_page_toc_entry:last-child {
    border-bottom: 1px solid #c0c0c0;
}

.wh_main_page_toc .wh_toc_shortdesc {
	display: none;
}
.wh_main_page_toc_accordion_entries > * {
    margin-left: 0;
	padding-left: 2em;
	border-bottom: 1px solid #c0c0c0;
}
.wh_main_page_toc_entry:hover {
    background-color: #eeeeee;
}
/*
 * main page toc > 하위 메뉴 show/hide transition 처리
 */
.wh_main_page_toc_accordion_entries {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	display: block;
	border-bottom: none;
	background-color: #fff;
}
.expanded + .wh_main_page_toc_accordion_entries {
    max-height: 100vh;
}
.wh_main_page_toc .expanded {
    border-bottom: 1px solid #c0c0c0;
}