/*
 * 기아 폰트 정의
 */
@font-face {
    font-family: "KiaSignatureTTF";
    font-weight: bold;
    src: url(webfonts/KiaSignatureFixBold.ttf);
}
/* Regular */
@font-face {
    font-family: "KiaSignatureTTF";
    font-weight: normal;
    src: url(webfonts/KiaSignatureFixRegular.ttf);
}
@font-face {
    font-family: "KiaSignatureTTF";
    font-weight: 200;
    src: url(webfonts/KiaSignatureFixLight.ttf);
}
/*
 * To change the font for the entire publication, not just an element
 */
html {
	font-family:  "KiaSignatureTTF", sans-serif !important;
	/* font-family:helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif; */
	font-size: 14px;
	line-height: 1;
}
body {
    line-height: 1.2;
    font-family: inherit;
}
.wh_topic_content, .wh_content_area, .wh_main_page_toc {
    line-height: inherit;
    color: #05141F;
}
.topictitle1, .topictitle2, .topictitle3, .topictitle4, .topictitle5, .topictitle6, .topictitle7 {
    margin: 0.5em 0 0.5em 0;
    font-weight: bold;	
}
.topictitle1, .topictitle1.level1 {
    font-size: 2.85em;
}
.topictitle2, .topictitle1.level2 {
    font-size: 1.43em;
}
.topictitle3, .topictitle1.level3 {
    font-size: 1.29em;
    padding-bottom: 5px;
}
.topictitle4, .topictitle1.level4,
.topictitle5, .topictitle1.level5,
.topictitle6, .topictitle1.level6,
.topictitle7, .topictitle1.level7 {
    font-size: 1.14em;
    padding-bottom: 5px;
	border-bottom: 1px solid #000000;
}
.wh_tile_title, .main-top-message, .footer-copyright{
	font-family: inherit;
	font-size: .86em;
} 
.wh_main_page_toc_entry.home a{
	font-family: inherit;
	
}
.wh_tile_title a {
	color: #05141F;
	font-size: 1.33em;
}
.sectiontitle, .wh_child_links:before {
	font-size: 1.43em;
}
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
	.wh_tile_title a {
		color: inherit;
		font-size: 1.33em;
}
	.topictitle1, .topictitle1.level1 {
    	font-size: 2.85em;
	}
	.topictitle2, .topictitle1.level2 {
    	font-size: 1.43em;
	}
	.topictitle3, .topictitle1.level3 {
	    font-size: 1.29em;
	    padding-bottom: 5px;
	}
	.topictitle4, .topictitle1.level4,
	.topictitle5, .topictitle1.level5,
	.topictitle6, .topictitle1.level6,
	.topictitle7, .topictitle1.level7 {
    	font-size: 1.14em;
    	padding-bottom: 5px;
		border-bottom: 1px solid #000000;
	}
	.wh_tile_title, .main-top-message, .footer-copyright{
		font-family: inherit;
		font-size: .86em;
	} 
	.wh_tile_title a {
		color: inherit;
		font-size: 0.99em;
	}
	/*contains Topics 하단  */
	.wh_child_links li > div {
		border-bottom: 1px solid #CDD0D2;
		padding-top: 6px;
	    padding-bottom: 6px;	
	    font-size: 1em;
	    
	}
}



