/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
	.wh_main_page .wh_content_area{
		padding-top: 0px !important;
	}
	/*모바일용 스크롤바 안보이게  */
	.breadcrumb-sticky + .wh_content_area, .container-fluid{
		-ms-overflow-style: none !important; 
		scrollbar-width: none;
	}
	.wh_content_area::-webkit-scrollbar {display: none;}
	.container-fluid::-webkit-scrollbar {display: none;}
}

@media screen and (max-width: 640px) {
    .wh_tile{
     	min-width: 340px;
    }
}
.wh_tiles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;
    flex-wrap: wrap;
}

.wh_tile {
    border-radius: 0;
    width: 480px;
    height: 65px;
    /*display: table;*/
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 1%;
	min-width: 140px;
	min-height: 65px;
	border: 2px solid #cccccc;
	background-color: #fff;
	display: flex;
    align-items: center;
	
}
/*메인 페이지 아이콘 크기   */
.wh_tile_image{
	float: left;
	padding-bottom: inherit
}

.wh_tile_image img {
	width: 27px;
    height: 27px;
    
}

.wh_tile_text {
	padding-top: 9px;
    padding-left: 15px;
}


/*
 * main page > content 영역 최대 크기/위치 설정
 */
.wh_main_page{
	background-color: #F1F1F1;
} 
/* index페이지 스크롤 위치조정 */  
.wh_main_page .wh_content_area {
    /*max-width: 1024px;
    margin-left: auto;
    margin-right: auto;*/
	width:100%;
	padding-left: calc( 50% - 512px );
	padding-right: calc( 50% - 512px );
    padding-top: 63px;
}

.wh_main_page .wh_content_flex_container{
	padding: 0;
}
	
@media screen and (max-width: 1024px) {
    .wh_main_page .wh_content_flex_container{
        width: 95%;
    }
}

/*메인 타이틀 */
.wh_tile:hover{
	background-color: #697278;;
	cursor: pointer;
}
.wh_tile:hover a{
    color: #FFFFFF
} 
/* .wh_tile:hover img{
	-webkit-filter: invert(100%);
	filter: invert(100%);
}  */
.main-top-message {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10em;
    max-width: 1024px;
    min-width: 350px;
    width: 100%;
}

/* 홈화면 breadcrumb 숨기기 */
.wh_main_page .breadcrumb-sticky{
	display: none;
}
.wh_tile_title > span > a {
    text-align: left;
}


